// Fonts
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400&display=swap");

// Variables
// Colours
$bg: #4f6d7a;
$col: #fafafa;

// Typography
$font: "El Messiri", sans-serif;
$size: 60px;

body {
  background-color: $bg;
  color: $col;
  font-family: "El Messiri";
  font-size: $size;
}

h1 {
  text-align: center;
}
